.wrapperDiv {
    width: 100%;
    min-height: calc(100vh - 64px); /* for bottom navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    padding: 1rem;
    height: 100vh;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    max-width: 100%;
    padding: 1.25rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    align-items: center;
}

/* HEADER */
.header {
    font-size: 1.5rem;
}

/* TEXTAREA */
.textArea {
    width: 100%;
    min-height: 140px;
    padding: 0.75rem;
    background-color: #ededed;
    border-radius: 12px;
    border: none;
    resize: none;
    font-size: 0.95rem;
    outline: none;
}

/* IMAGE PICKER */
.label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.addImages {
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    background-color: gray;
    color: white;
    font-size: 0.8rem;
    transition: 0.3s;
}

.addImages:hover {
    background: linear-gradient(135deg, #6366f1, #ec4899);
}

.fileCount {
    font-size: 0.75rem;
    color: #6b7280;
}

/* SUBMIT */
.submitBtn {
    padding: 0.45rem 1rem;
    border-radius: 999px;
    border: none;
    color: white;
    font-size: 0.85rem;
    background: linear-gradient(135deg, #6366f1, #ec4899);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.submitBtn:hover {
    transform: scale(1.05);
}

/* ===================== */
/* TABLET */
@media (max-width: 768px) {

    .wrapperDiv{
        height: 100vh;
    }
    .form {
        width: 90%;
    }

    .header {
        font-size: 1.3rem;
    }

}

/* ===================== */
/* MOBILE */
@media (max-width: 480px) {
    .form {
        width: 100%;
        padding: 1rem;
    }

    .header {
        font-size: 1.2rem;
    }

    .textArea {
        font-size: 0.9rem;
    }

    .submitBtn {
        width: 100%;
    }
}
