.wrapperDiv{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #EDEDED;
    align-items: center;
    justify-content: center;
    font-family: "Permanent Marker", cursive;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 1rem 1.25rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
}
.textArea{
    width: 100%;
    padding: 0.75rem 0.85rem;
    background-color: #EDEDED;
    color: black;
    font-size: 0.95rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 12px;
    height: 50%;
    resize: none;
}
.label{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}
.label:hover{
    transform: scale(1.2);
}
.addImages{
    padding: 0.35rem 0.7rem;
    border-radius: 999px;
    background-color: gray;
    border: none;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out ;
}
.addImages:hover{
    background: linear-gradient(135deg, #6366f1, #ec4899);
}
.submitBtn{
    padding: 0.35rem 0.7rem;
    border-radius: 999px;
    border: none;
    color: white;
    font-size: 0.8rem;
    background: linear-gradient(135deg, #6366f1, #ec4899);
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}
.submitBtn:hover{
    transform: scale(1.2);
}