.messageWrapper{
    width: 100%;
    height: 100%;
    font-family: "Permanent Marker", cursive;
    color: rgb(56, 56, 56);
    box-sizing: border-box;
    display: flex;
}
.Querywrapper{
    box-shadow: 2px 0 10px gray;
    width: 25%;
    height: 100%;
}
.queryContainer{
    height: 10%;
    padding: 1.5rem 1rem 0 1rem;
}
.queryContainer input{
    width: 100%;
    height: 80%;
    border-radius: 8px;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: 1px solid gray;
    outline: none;
}
.users{
    padding: 1rem;
    font-size:  1.2rem;
    border-bottom: 0.5px solid #bfbfbf;
    height: 8%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}
.usersList{
    border: 1px #ccc solid;
    padding: 0 1rem 0 1rem;
    height: 90%;
    overflow-y: scroll;
}
.users div img{
    width:  50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
}
.messageContainer{
    width: 75%;
}
.userMessageHeader{
    padding: 0.5rem;
    border: 1px solid gray;
    height: 10%;
    align-items: center;
    display: flex;
    box-shadow:  0 0 10px gray;
}
.userDetails{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
    padding-left: 0.5rem;
}
.userDetails img {
    width: 10%;
    object-fit: fill;
    border-radius: 50%;
    height: 20%;
}
.chatsContainer{
    padding: 0.5rem;
}