.btnContainer{
    width: 100%;
    height: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.btnContainer button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #757575;
    transition: 0.2s ease-out, 0.2s ease-out;
}
.btnContainer button:hover{
    transform: scale(110%);
}
.likeBtn:hover{
    color: red;
}
.cmtBtn:hover{
    color: rgb(0, 204, 0);
}
.shareBtn:hover{
    color: rgb(33, 33, 255);
}
.savedBtn:hover{
    color: #00e1ff;
}
.trashBtn{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width:  20;
    height: 20;
    cursor: pointer;
    color: #757575;
    transition: 0.2s ease-out, 0.2s ease-out;
}
.trashBtn:hover{
    color: red;
    transform: scale(110%);
}

.postContainer{
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}
.userContainer{
    display: flex;
    padding:0 1rem 1rem 1rem;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #b5b5b5;
}
.profilePicture{
    border-radius: 100%;
    object-fit: cover;
    width:  40px;
    height: 40px;
    /*padding: 1rem;*/
}
.content{
    width: 100%;
    padding-left: 1rem;
    color: #1b1b1b;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
}
@media (max-width: 768px) {

    .wrapperDiv {
        width: 100%;
        padding: 0.5rem;
    }
    .carousel img {
        max-height: 300px;
    }
    .userContainer p {
        font-size: 0.8rem;
    }
    .btnContainer button {
        font-size: 0.9rem;
        padding: 8px 0;
    }
    .content {
        font-size: 0.85rem;
    }
}