.postHeader{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.postHeader button{
  border: none;
  background: transparent;
  color: red;
  width: 10%;
  height: 30px;
  border-radius: 10px;
  transition: 0.3s ease-out, 0.3s ease-out;
}
.postHeader button:hover{
  transform: scale(110%);
  background-color: rgb(255, 103, 103);
  color: white;

}
.postIcons{
    padding: 10px;
  display: flex;
  gap: 10px;
}
.postIcons button {
  width: 70%;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: #ededed;
  transition: 0.3s ease-out, 0.3s ease-out;
  border-radius: 10px;
  margin-right: 1%;
}
.likeBtn{
    color: red;
  transition: 0.3s ease-out, 0.3s ease-out;
}
.likeBtn:hover {
  background-color: rgb(255, 100, 100);
  color: white;
  transform: scale(110%);
}
.sendBtn{
    color: blue;
      transition: 0.3s ease-out, 0.3s ease-out;
}
.saveBtn{
    color: cyan;
          transition: 0.3s ease-out, 0.3s ease-out;

}
.saveBtn:hover{
      background-color: cyan;
    color: white;
  transform: scale(110%);
}
.sendBtn:hover{
    background-color: blue;
    color: white;
  transform: scale(110%);
}
.deleteBtn{
  background-color: transparent;
  color: red;
  border: none;
  transition: 0.3s ease-out, 0.3s ease-out;
  cursor: pointer;
}
.deleteBtn:hover{
  transform: scale(110%);
}
.createContainer {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.createContainer input {
  width: 70%;
  height: 50px;
  padding-left: 10px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: #ededed;
  transition: 0.3s ease-out, 0.3s ease-out;
  border-radius: 10px;
  margin-right: 1%;
}
.createContainer input:hover {
  transform: scale(105%);
}
.createContainer button {
  width: 20%;
  border: none;
  outline: none;
  background-color: #ededed;
  border-radius: 10px;
  cursor: pointer;
}
.cmtBtn {
  color: rgb(0, 161, 0);
  transition: 0.3s ease-out, 0.3s ease-out;
}
.cmtBtn:hover {
  background-color: rgb(76, 202, 44);
  color: white;
  transform: scale(110%);
}
.closeBtn {
  color: red;
  transition: 0.3s ease-out, 0.3s ease-out;
}
.closeBtn:hover {
  background-color: rgb(255, 100, 100);
  color: white;
  transform: scale(110%);
}

.cmtContainer {
  max-height: 250px;
  overflow-y: auto;
}
.comment {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  place-items: start;
  background-color: #ededed;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 0.2%;
}
.userInfo{
  width: 100%;
}
.commentBody {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  outline: none;
  font-size: 0.95rem;
  line-height: 1.4;
  word-break: break-word;
  white-space: pre-wrap;
  padding-right: 4%;
  margin: 0;
}
.profilePicture img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}