.mainContainer {
    height: 100vh;
    width: 15%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    background: white;

}

.startDiv {
    height: 10%;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 60%;
    height: auto;
}

.midDiv {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 0.5rem;
}

.btn {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 44px;
    padding-left: 0.8rem;
    border: none;
    background: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    color: gray;
}

.btn:hover,
.activeBtn {
    background-color: #edf2ff;
    color: #4a43b0;
}

.createPost {
    margin-top: 2rem;
    justify-content: center;
    background: linear-gradient(to right, #6865fe, #9e32fb);
    color: white;
}

.createPost:hover {
    background: linear-gradient(to right, #5a56e0, #8626e0);
}

.endDiv {
    height: 10%;
    border-top: 0.5px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.logOutBtn {
    border: none;
    background: none;
    cursor: pointer;
    color: gray;
}

/* ===================== */
/* MOBILE & TABLET VIEW */
/* ===================== */
@media (max-width: 768px) {
    .mainContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 64px;
        width: 100%;
        flex-direction: row;
        z-index: 1000;
        box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.15);
    }

    .startDiv,
    .endDiv {
        display: none;
    }

    .midDiv {
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: space-around;
    }

    .btn {
        width: 15%;
        height: 70%;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        padding: 0;
        font-size: 0.7rem;
    }

    @media (max-width: 768px) {
        .label {
            display: none;
        }
    }
    .createPost {
        margin: 0;
        color: #4a43b0;
    }
}