.mainContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ededed;
    overflow-x: hidden;
}
.wrapperDiv{
    padding: 5rem;
    width: 80%;
    /*border: 2px solid purple;*/
    height: 100%;
}
