.mainContainer {
    background-color: #F9FBFC;
    width: 100%;
    border: 2px solid green;
    display: flex;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.wrapperDiv {
    width: 60%;
    border: 2px solid red;
    padding: 2rem;
    box-sizing: border-box;
    overflow: visible;
}

.profileContainer {
    border: 3px solid green;
    border-radius: 1rem;
    margin-bottom: 2rem;
    height: 50vh;
}

.postContainer {
    border: 3px solid purple;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
    gap: 1rem;
}
.userInfoDiv{
    border: 20px solid blue;
    display: grid;
    place-items: center;
    align-items: start;
}

.postsImage {
    width:  250px;
    height: 250px;
    border-radius: 25px;
    border: 3px solid deepskyblue;
    object-fit: cover;
}
